<h1>Welcome#index</h1>
<<<<<<< HEAD
<p>Find me in app/views/welcome/index.html.erb</p>
=======
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to 'see our products', controller: "products" %>
>>>>>>> develop_seller_cancancan
